---
layout: default
title: Yovori - Data-driven Agriculture
tab_title: Home

hero_area:
  enable: true
  hero_bg: 
  - "/assets/images/01-Home/data-analysis.jpg"
  hero_image:
  - "/assets/images/Case studies/oriol-verdeny.jpg"

  title: "Transforming Data into Impactful Results"
  text: "I help organizations turn complex data into clear, and practical results, leading to evidence-based decisions, stronger strategies, and real-world improvements."
  btn_text: "Discover my services"
  btn_url: "#whatwedo"
 

value_proposition:
  enable: true
  title: "Struggling with complex data, unclear results, inefficient processes, or uncertain financial outcomes?"
  text: "Whether you’re managing development projects, conducting research, scaling innovative technologies, running agribusiness operations, or working on environmental solutions. <br><br>
  I am here to help you get the most from your data. To make <b>better decisions</b>, deliver <b>clear and practical results</b>, and <b>turn findings into lasting impact</b>."

what_we_do:
  enable: true
  title: "What I Do?"
  sub_title: "I provide specialized data services for agriculture, research, development, circular bioeconomy, and life sciences projects."
  services:

    - title: "Data Analysis and Decision Support"
      description: "Use data analysis to support strategic decisions, business development, research project outcomes, and inform policies or investments."
      image: "/assets/images/01-Home/data-analysis.jpg"
      button_text: "Learn More"
      button_url: "/services/data-analysis"

    - title: "Process and Mass Balance Analysis"
      description: "Understand material flows and optimize the use of resources. Ideal for scaling operations, improving efficiency, reducing waste, and support circular economy or bio-based production models."
      image: "/assets/images/01-Home/process-analysis.jpg"
      button_text: "Learn More"
      button_url: "/services/process-mass-balance"

    - title: "Financial Modeling"
      description: "Analyze the financial health, risks, and long-term viability of your operations or projects. Improve your competitiveness and guide investment decisions, budgeting, and planning."
      image: "/assets/images/01-Home/financial-modeling.jpg"
      button_text: "Learn More"
      button_url: "/services/financial-modeling"

how_it_works:
  enable: true
  title: "How It Works?"
  sub_title: "From goals to result: a simple, collaborative process."
  image_large: "/assets/images/01-Home/how-it-works.jpg"
  image_small: "/assets/images/01-Home/pinya.jpg"
  image_fallback: "/assets/images/01-Home/mealworm.jpg"

  lists:

    - title: "Initial Consultation"
      description: "We discuss your goals, challenges, and available data to define clear project objectives."

    - title: "Data Integration and Preparation"
      description: "I integrate your data into my analytical tools and prepare it for analysis."

    - title: "Data Analysis"
      description: "I analyze, model, and visualize the data to address your specific goals."

    - title: "Deliverables"
      description: "Based on your needs, you receive practical outputs like clear reports, visualizations, or decision tools."

    - title: "Follow-up Support"
      description: "Optional follow-up support is available to help you apply recommendations, adjust strategies, or update tools, based on your needs and agreement."

why_choose_us: 
  enable: true
  title: "Why Choose Me?"
  sub_title: "Why my customers choose me."
  image: "/assets/images/01-Home/why-choose-us.jpg"
  lists:

    - title: "High-Impact Results"
      content: |
        Focus on delivering practical, high-value results aligned with your goals.

    - title: "Global Exposure"
      content: |
        Experience with international and interdisciplinary teams, on complex projects in diverse contexts.

    - title: "Cross-Sector Expertise"
      content: |
        Track record across data, agribusiness, research, development, and circular bioeconomy. Committed to continuous learning to adapt to industry advancements.

    - title: "Collaborative & Adaptive"
      content: |
        Flexible, science-based approach with a strong focus on client satisfaction and building long-term partnerships.

case_studies:
  enable: true
  title: "Case Studies"
  sub_title: "Check out some of my work."
  posts_number: 5

testimonials_area:
  enable: false
  title: "Happy Customers"
  sub_title: "Customer satisfaction is our major goal. See what our customers are saying about us."
  image: "/assets/images/concept/concept16@2x.png"
  testimonials:

    - quote: |
        "Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi cras mattis consectetur purus posuere"
      author: "Cornelia Gibson"
      bio: "Financial Analyst"
  
    - quote: |
        "Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, posuere consectetur est at lobortis."
      author: "Coriss Ambady"
      bio: "Marketing Specialist"
  
    - quote: |
        "Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi cras mattis consectetur purus posuere"
      author: "Coriss Ambady"
      bio: "Marketing Specialist"

clients_carousel:
  enable: false

---





<!-- Hero -->
{% if page.hero_area.enable %}
<div class="wrapper image-wrapper bg-image" data-image-src="{{relative_url}}{{page.hero_area.hero_bg}}">

  <!-- container class is responsible for the margins on the right and the left sides -->
  <div class="container inner">
    <div class="row align-items-center">
  
      <div class="col-12 col-md-8 order-1 text-md-left text-center">
  
        <h1 class="hero color-white">
          {{page.hero_area.title}}
        </h1>
  
        <div class="w-75 mx-md-0 mx-auto">
          <p class="hero color-white">
            {{page.hero_area.text}}
          </p>
        </div>
  
        <!-- <div class="d-flex justify-content-center align-items-center"> -->
          <div class="mt-4">
            <a class="btn btn-lg btn-hero btn-strong-hover font-weight-bold" href="{{page.hero_area.btn_url}}" aria-label="Learn more about {{page.hero_area.btn_text}}">
              {{page.hero_area.btn_text}}
            </a>
          </div>
        <!-- </div> -->
  
        
      </div>
  
      <div class="col-12 col-md-4 offset-0 order-2 d-flex justify-content-center">
        <img src="{{page.hero_area.hero_image}}" alt="Hero Image" class="img-fluid hero" />
      </div>
  
    </div>
  </div>
</div>
{% endif %}


<!-- Value Proposition -->
{% if page.value_proposition.enable %}
<div class="wrapper yovori-wrapper">
  <div class="container inner" data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="2000">
    <div class="row">
      <div class="col-lg-12 space-b-4">
        <h1 class="hero page-title text-center"> {{page.value_proposition.title}} </h1>
      </div>
        <div class="col-lg-10 offset-lg-1">
          <p class="hero display-3 text-center"> {{page.value_proposition.text}}</p>
        </div>
    </div>
  </div>
</div>
{% endif %}


<!-- What we do (Services) -->
{% if page.what_we_do.enable %}
<div class="wrapper gray10-wrapper inverse-text" id="whatwedo">
  <div class="container inner">
    <div class="three-columns-wrapper">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <h2 class="display-3 title-color text-center">{{page.what_we_do.title}}</h2>
          <h3 class="display-3 text-center space-y-sm">{{page.what_we_do.sub_title}}</h3>
        </div>
      </div>
      <div class="row gutter-60 text-center align-items-end">
        {% for service in page.what_we_do.services %}
        <div class="col-md-4 space-t-5">
          <figure class="img-blob blob1 mb-30">
            <img src="{{service.image}}" alt="{{service.title}}" />
          </figure>
          <h1 class="display-4 font-weight-bold">{{service.title}}</h1>
          <p class="mb-15">{{service.description}}</p>
          <div class="text-center font-weight-bold"><a href="{{service.button_url}}" class="more more-yovori">{{service.button_text}}</a></div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}



<!-- How it works -->
{% if page.how_it_works.enable %}
<div class="wrapper white-wrapper">
  <div class="container inner">
    <h2 class="display-3 title-color color-gray text-center">{{page.how_it_works.title}}</h2>

    <div class="row align-items-center">

      <!-- Image Section -->
      <div class="col-lg-5 order-lg-2">
        <div class="d-flex justify-content-center">
          <figure class="w-100 text-center">
            <picture>
              <!-- Image for small screens -->
              <source media="(max-width: 991.98px)" srcset="{{page.how_it_works.image_small}}">
              <!-- Image for large screens -->
              <source media="(min-width: 992px)" srcset="{{page.how_it_works.image_large}}">
              <!-- Fallback image -->
              <img class="img-fluid rounded-4 responsive-img" src="{{page.how_it_works.image_fallback}}"
                alt="How it works" />
            </picture>
          </figure>
        </div>
      </div>


      <!-- Text Section -->
      <div class="col-lg-7 pr-60 pr-md-15">

        <h3 class="display-3 space-b-5">{{page.how_it_works.sub_title}}</h3>
        {% for step in page.how_it_works.lists %}

        <div class="d-flex align-items-start space-y-4" data-aos="zoom-in" data-aos-anchor-placement="top-bottom"
          data-aos-once="true" data-aos-delay="500" data-aos-duration="1500">
          <div>

            <span class="icon icon-blob icon-blob-dark mb-30 mr-25">
              <span class="number color-default">
                {{forloop.index}}
              </span>
            </span>

          </div>
          <div>
            <h5 class="font-weight-bold space-b-1">{{step.title}}</h5>
            <p class="mb-0">{{step.description}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- /.wrapper -->
{% endif %}



<!-- Why choose us -->
{% if page.why_choose_us.enable %}
<div class="wrapper white-wrapper">
  <div class="container inner">
    <div class="two-column-one">
      <div class="row">
        <div class="col-md-7 mx-auto space-b-5">
          <h2 class="display-3 title-color color-gray text-center">{{page.why_choose_us.title}}</h2>
          <h3 class="display-3 mb-0 text-center">{{page.why_choose_us.sub_title}}</h3>
        </div>
      </div>
      <div class="row align-items-center">
        {% if page.why_choose_us.image %}
        <div class="col-lg-6 space-y-4" data-aos="fade-up" data-aos-duration="1000">
          <figure><img src="{{page.why_choose_us.image}}" alt="{{page.why_choose_us.title}}" /></figure>
        </div>
        {% endif %}
        <div class="col-lg-6 pl-60 pl-md-15">
          {% for list in page.why_choose_us.lists %}
          <div data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000">
          <div class="space-b-4">
            <h4 class="font-weight-bold mb-0">{{list.title}}</h4>
            <p>{{list.content}}</p>
          </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}


<!-- Case studies -->
{% if page.case_studies.enable %}
<div class="wrapper white-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-md-7 mx-auto">
        <h2 class="display-3 title-color color-gray text-center">{{page.case_studies.title}}</h2>
        <!-- <div class="space10"></div> -->
        <h3 class="display-3 text-center">{{page.case_studies.sub_title}}</h3>
        <!-- <div class="space40"></div> -->
      </div>
    </div>
    <div class="grid-view">
      <div class="carousel owl-carousel" data-margin="30" data-dots="true" data-autoplay="false"
        data-autoplay-timeout="5000"
        data-responsive='{"0":{"items": "1"}, "768":{"items": "3"}, "992":{"items": "4"}}' data-dotsEach="false">
        {% for post in site.posts limit: page.case_studies.posts_number %}
        <div class="item blog-posts">
          {% if post.post_image %}
          <figure class="overlay overlay1 rounded mb-30"><a href="{{post.url}}"> <img src="{{post.post_image}}"
                class="post-thumb" alt="{{post.title}}" /></a>
            <figcaption>
              <h5 class="from-top mb-0">Read More</h5>
            </figcaption>
          </figure>
          {% endif %}
          <h2 class="post-title text-center mb-0"><a href="{{post.url}}">{{post.title}}</a></h2>
        </div>
        {% endfor %}
      </div>
      <!-- /.owl-carousel -->
    </div>
    <!-- /.grid-view -->
  </div>
</div>
{% endif %}


<!-- Testimonial -->
{% if page.testimonials_area.enable %}
<div class="wrapper white-wrapper inner">
  <div class="container">
    <div class="row">
      <div class="col-md-7 mx-auto">
        <div class="text-center">
          <h2 class="title-bg bg-default color-dark">
            {{page.testimonials_area.title}}
          </h2>
        </div>
        <!-- <div class="space10"></div> -->
        <h3 class="display-3 text-center">
          {{page.testimonials_area.sub_title}}
        </h3>
        <!-- <div class="space40"></div> -->
      </div>
    </div>
    <div class="row align-items-center">
      {% if page.testimonials_area.image %}
      <div class="col-lg-6 pr-60 pr-md-15">
        <figure><img src="{{page.testimonials_area.image}}" alt="{{page.testimonials_area.title}}" /></figure>
      </div>
      {% endif %}
      <!-- <div class="space20 d-md-none"></div>
      <div class="space50 d-none d-md-block d-lg-none"></div> -->
      <div class="col-lg-5">
        <div class="basic-slider owl-carousel gap-small dots-left" data-margin="30">
          {% for testimonial in page.testimonials_area.testimonials %}
          <div class="item">
            <blockquote class="icon icon-left larger text-left">
              <p>{{testimonial.quote}}</p>
              <div class="blockquote-details">
                <div class="info p-0">
                  <h6 class="mb-0">{{testimonial.author}}</h6>
                  <span class="meta mb-0">{{testimonial.bio}}</span>
                </div>
              </div>
            </blockquote>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% if page.clients_carousel.enable %}
    <!-- <div class="space80"></div> -->
    {% include clients_carousel.html %}
    {% endif %}
  </div>
</div>
{% endif%}




