---
layout: general_page
title: Yovori - Data-driven Agriculture
tab_title: Home

hero_area:
  enable: true
  hero_bg: 
  - "/assets/images/01-Home/data-analysis.jpg"
  hero_image:
  - "/assets/images/Case studies/oriol-verdeny.jpg"

  title: "Advancing agriculture with data-driven decisions"
  text: "We envision a world where innovation, technology and sustainable principles drive the creation of a
  regenerative food system that feeds us, <b>preserves biodiversity</b>, restore ecosystems, and contributes to the development
  of the economy."
  btn_text: "Discover our services"
  btn_url: "#whatwedo"
 

value_proposition:
  enable: true
  title: "Advancing agriculture with data-driven decisions"
  text: "We envision a world where innovation, technology and sustainable principles drive the creation of a
  regenerative food system that feeds us, <b>preserves biodiversity</b>, restore ecosystems, and contributes to the development
  of the economy."

what_we_do:
  enable: true
  title: "What We Do?"
  sub_title: "We provide specialized data-driven services for the agricultural sector."
  services:

    - title: "Data Analysis and Decision Support"
      description: "Employ data analysis to support decision-making, business development, and research project outcomes within your organization."
      image: "/assets/images/01-Home/data-analysis.jpg"
      button_text: "Learn More"
      button_url: "/services/data-analysis"

    - title: "Process and Mass Balance Analysis"
      description: "Optimize resource use by understanding material flows in your production process. Ideal for scaling up operations and reducing waste."
      image: "/assets/images/01-Home/process-analysis.jpg"
      button_text: "Learn More"
      button_url: "/services/process-mass-balance"

    - title: "Financial Modeling"
      description: "Analyze the financial health and sustainability of your agricultural projects to guide investment decisions, budgeting, and long-term planning."
      image: "/assets/images/01-Home/financial-modeling.jpg"
      button_text: "Learn More"
      button_url: "/services/financial-modeling"

how_it_works:
  enable: true
  title: "How It Works?"
  sub_title: "Find out everything you need about creating a business process model."
  image: "/assets/images/concept/concept15@2x.png"
  lists:

    - title: "Creative Ideas"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras."

    - title: "Magic Touch"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras."

    - title: "Data Analysis"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras."

    - title: "Finalize Product"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras."

why_choose_us: 
  enable: true
  title: "Why Choose Us?"
  sub_title: "Why our customers choose us."
  image: "/assets/images/01-Home/why-choose-us.jpg"
  lists:

    - title: "International Experience"
      content: |
        Extensive experience in international research and agribusiness, working across interdisciplinary teams.

    - title: "Continuous Learning"
      content: |
        Commitment to continuous learning and adapting to industry advancements.

    - title: "Customer Satisfaction"
      content: |
        Close collaboration with clients, prioritizing customer satisfaction and focusing on ethical practices, sustainability, and long-lasting positive impact.

case_studies:
  enable: true
  title: "Case Studies"
  sub_title: "Check out some of our work."
  posts_number: 5

testimonials_area:
  enable: false
  title: "Happy Customers"
  sub_title: "Customer satisfaction is our major goal. See what our customers are saying about us."
  image: "/assets/images/concept/concept16@2x.png"
  testimonials:

    - quote: |
        "Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi cras mattis consectetur purus posuere"
      author: "Cornelia Gibson"
      bio: "Financial Analyst"
  
    - quote: |
        "Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, posuere consectetur est at lobortis."
      author: "Coriss Ambady"
      bio: "Marketing Specialist"
  
    - quote: |
        "Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi cras mattis consectetur purus posuere"
      author: "Coriss Ambady"
      bio: "Marketing Specialist"

clients_carousel:
  enable: false

---





<!-- Hero -->
{% if page.hero_area.enable %}
<div class="wrapper image-wrapper bg-image" data-image-src="{{relative_url}}{{page.hero_area.hero_bg}}">

  <!-- container class is responsible for the margins on the right and the left sides -->
  <div class="container inner">
    <div class="row align-items-center">

      <div class="col-12 col-md-8 offset-0 order-1">

        <h2 class="hero display-1 color-white text-left">
          {{page.hero_area.title}}
        </h2>


        <p class="hero display-3 color-white">
          {{page.hero_area.text}}
        </p>

        <div class="d-flex justify-content-center align-items-center">
          <div class="mt-4">
            <a class="btn btn-lg btn-white btn-strong-hover" href="{{page.hero_area.btn_url}}">
              {{page.hero_area.btn_text}}
            </a>
          </div>
        </div>

      </div>

      <div class="col-12 col-md-4 offset-0 order-2">
        <img src="{{page.hero_area.hero_image}}" alt="Hero Image" class="img-fluid hero" />
      </div>

    </div>
  </div>
</div>
{% endif %}


<!-- Value Proposition -->
{% if page.value_proposition.enable %}
<div class="wrapper yovori-wrapper">
  <div class="container inner col-lg-6 offset-lg-3" data-aos="fade-up" data-aos-delay="500">
    <h1 class="page-title mb-40 text-center"> {{page.value_proposition.title}} </h1>
    <div class="row">
        <p class="display-3 text-center"> {{page.value_proposition.text}}</p>
    </div>
  </div>
</div>
{% endif %}


<!-- What we do (Services) -->
{% if page.what_we_do.enable %}
<div class="wrapper dark-wrapper inverse-text" id="whatwedo">
  <div class="container inner">
    <div class="three-columns-wrapper">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <h2 class="display-3 title-color text-center">{{page.what_we_do.title}}</h2>
          <!-- <div class="text-center">
            <h2 class="title-bg bg-default color-text_yovori">{{page.what_we_do.title}}</h2>
          </div> -->
          <div class="space10"></div>
          <h3 class="display-3 text-center">{{page.what_we_do.sub_title}}</h3>
          <div class="space30"></div>
        </div>
      </div>
      <div class="row gutter-60 text-center align-items-end">
        {% for service in page.what_we_do.services %}
        <div class="col-md-4">
          <figure class="img-blob blob1 mb-30">
            <img src="{{service.image}}" alt="{{service.title}}" />
          </figure>
          <h1 class="display-4 font-weight-bold">{{service.title}}</h1>
          <p class="mb-15">{{service.description}}</p>
          <div class="text-center font-weight-bold"><a href="{{service.button_url}}" class="more_yovori">{{service.button_text}}</a></div>
        </div>
        <div class="space20 d-md-none"></div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}


<!-- How it works -->
<!-- {% if page.how_it_works.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="two-columns-one">
      <div class="row align-items-center">
        {% if page.how_it_works.image %}
        <div class="col-lg-6">
          <figure>
            <img src="{{page.how_it_works.image}}" alt="{{page.how_it_works.title}}" />
          </figure>
        </div>
        {% endif %}
        <div class="space20 d-md-none"></div>
        <div class="space50 d-none d-md-block d-lg-none"></div>
        <div class="col-lg-6 pl-60 pl-md-15">
          <h2 class="title-bg bg-default color-text_yovori">{{page.how_it_works.title}}</h2>
          <div class="space10"></div>
          <h3 class="display-3">{{page.how_it_works.sub_title}}</h3>
          <div class="space20"></div>
          <div class="row">
            {% for list in page.how_it_works.lists %}
            <div class="col-md-6">
              <h5><span class="color-text_yovori">{{forloop.index}}.</span> {{list.title}}</h5>
              <p>{{list.description}}</p>
            </div>
            {% assign value = forloop.index | modulo:2 %}
            {% if value == 0 %}
            <div class="space10 d-none d-md-block"></div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %} -->

<!-- How it works -->
{% if page.how_it_works.enable %}
<div class="wrapper white-wrapper">
  <div class="container inner">
    <h2 class="display-3 title-color color-gray text-center mb-40">How it Works?</h2>
    <div class="row gutter-50 gutter-md-30 process-wrapper line text-center">
      {% for list in page.how_it_works.lists %}
      <div class="col-md-3"> 
        <span class="icon icon-blob icon-blob-dark mb-30">
          <span class="number color-default">
            {{forloop.index}}
          </span>
        </span>
        <h5>{{list.title}}</h5>
        <p>{{list.description}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<!-- Why choose us -->
{% if page.why_choose_us.enable %}
<div class="wrapper white-wrapper">
  <div class="container inner">
    <div class="two-column-one">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <h2 class="display-3 title-color color-gray text-center">{{page.why_choose_us.title}}</h2>
          <h3 class="display-3 mb-0 text-center">{{page.why_choose_us.sub_title}}</h3>
          <div class="space50"></div>
        </div>
      </div>
      <div class="row align-items-center">
        {% if page.why_choose_us.image %}
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <figure><img src="{{page.why_choose_us.image}}" alt="{{page.why_choose_us.title}}" /></figure>
        </div>
        {% endif %}
        <div class="space40 d-lg-none"></div>
        <div class="col-lg-6 pl-60 pl-md-15">
          {% for list in page.why_choose_us.lists %}
          <div data-aos="fade-up" data-aos-delay="800">
            <h4>{{list.title}}</h4>
            <p>{{list.content}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}


<!-- Case studies -->
{% if page.case_studies.enable %}
<div class="wrapper white-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-md-7 mx-auto">
        <h2 class="display-3 title-color color-gray text-center">{{page.case_studies.title}}</h2>
        <div class="space10"></div>
        <h3 class="display-3 text-center">{{page.case_studies.sub_title}}</h3>
        <div class="space40"></div>
      </div>
    </div>
    <div class="grid-view">
      <div class="carousel owl-carousel" data-margin="30" data-dots="true" data-autoplay="false"
        data-autoplay-timeout="5000"
        data-responsive='{"0":{"items": "2"}, "768":{"items": "3"}, "992":{"items": "4"}}' data-dotsEach="false">
        {% for post in site.posts limit: page.case_studies.posts_number %}
        <div class="item blog-posts">
          {% if post.post_image %}
          <figure class="overlay overlay1 rounded mb-30"><a href="{{post.url}}"> <img src="{{post.post_image}}"
                class="post-thumb" alt="{{post.title}}" /></a>
            <figcaption>
              <h5 class="from-top mb-0">Read More</h5>
            </figcaption>
          </figure>
          {% endif %}
          <h2 class="post-title text-center mb-0"><a href="{{post.url}}">{{post.title}}</a></h2>
        </div>
        {% endfor %}
      </div>
      <!-- /.owl-carousel -->
    </div>
    <!-- /.grid-view -->
  </div>
</div>
{% endif %}


<!-- Testimonial -->
{% if page.testimonials_area.enable %}
<div class="wrapper white-wrapper inner">
  <div class="container">
    <div class="row">
      <div class="col-md-7 mx-auto">
        <div class="text-center">
          <h2 class="title-bg bg-default color-text_yovori">
            {{page.testimonials_area.title}}
          </h2>
        </div>
        <div class="space10"></div>
        <h3 class="display-3 text-center">
          {{page.testimonials_area.sub_title}}
        </h3>
        <div class="space40"></div>
      </div>
    </div>
    <div class="row align-items-center">
      {% if page.testimonials_area.image %}
      <div class="col-lg-6 pr-60 pr-md-15">
        <figure><img src="{{page.testimonials_area.image}}" alt="{{page.testimonials_area.title}}" /></figure>
      </div>
      {% endif %}
      <div class="space20 d-md-none"></div>
      <div class="space50 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-5">
        <div class="basic-slider owl-carousel gap-small dots-left" data-margin="30">
          {% for testimonial in page.testimonials_area.testimonials %}
          <div class="item">
            <blockquote class="icon icon-left larger text-left">
              <p>{{testimonial.quote}}</p>
              <div class="blockquote-details">
                <div class="info p-0">
                  <h6 class="mb-0">{{testimonial.author}}</h6>
                  <span class="meta mb-0">{{testimonial.bio}}</span>
                </div>
              </div>
            </blockquote>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% if page.clients_carousel.enable %}
    <div class="space80"></div>
    {% include clients_carousel.html %}
    {% endif %}
  </div>
</div>
{% endif%}
