---
layout: general_page

tab_title: Contact

custom_css: 
custom_font:

black_menu: true
header_style: 'one'
subheader: false

page_header:
  enable: true
  title: "Ready to turn your data into amazing results? <br><br>Let's talk"
  sub_title: ""
  button_text: 
  button_url: "#"
  background_image: "/assets/images/05-Contact/lake-and-palm-trees-1800x747.jpg"


contact_area:
  enable: true
  title: "Get in Touch"
  sub_title: "Have any questions? Reach out to us from our contact form and we will get back to you shortly."

  first_name:
    field_type: "input"
    field_name: "first_name"
    placeholder: "First Name"
    error_message: "First Name Is required"

  last_name:
    field_type: "input"
    field_name: "last_name"
    placeholder: "Last Name"
    error_message: "Last Name Is required"

  user_email:
    field_type: "input"
    field_name: "user_email"
    placeholder: "Email"
    error_message: "Email Is required"

  user_phone:
    field_type: "input"
    field_name: "user_phone"
    placeholder: "Phone Number"
    error_message: "Phone Number Is required"

  user_message:    
    field_type: "textarea"
    field_name: "user_message"
    placeholder: "Message"
    error_message: "Message Is required"

google_maps:
  enable: true    
---

{% if page.page_header.enable %}
{% assign page_d = page.page_header %}
<div class="wrapper image-wrapper bg-image page-title-wrapper inverse-text"
  data-image-src="{{page_d.background_image}}">
  <div class="container inner text-center">
    <div class="space90"></div>
    {% if page_d.title %}
    <h1 class="page-title">{{page_d.title}}</h1>
    {% endif %}
    {% if page_d.sub_title %}
    <p class="lead mb-30">{{page_d.sub_title}}</p>
    {% endif %}
    {% if page_d.button_text != null %}
    <a href="{{page_d.button_url}}" class="btn btn-white btn-strong-hover">{{page_d.button_text}}</a>
    {% endif %}
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endif %}


<!--contact form-->
{% include contact_1.html %}
<!--/.contact form-->
 
