
{% if page.call_to_action.enable %}

{% assign contact = site.data.navigation.main_menu | where: "text", "Contact" | first %}


<div class="box cta shadow space-t-5 d-lg-flex justify-content-around
	{% if page.call_to_action.background %} cta-wrapper bg-full bg-image {% endif %}"
	{% if page.call_to_action.background %}
    	data-image-src="{{ relative_url }}{{ page.call_to_action.background }}"
	{% endif %}
	data-aos="fade-up"
	data-aos-duration="2000"
	data-aos-once="true">

	<h3 class="display-3 mb-0">{{ page.call_to_action.text }}</h3>

	<a href="{{ contact.url | default: '/contact/' }}"
		class="btn btn-strong-hover font-weight-bold display-4">
		{{ page.call_to_action.button_text }}
	</a>

</div>

{% endif %}