<footer class="{% if include.extra_class %} {{include.extra_class}} {% else %} dark-wrapper inverse-text {% endif %}">
  <div class="container inner">
    <div class="row">
      <div class="col-md-12 col-lg-3 text-center text-lg-left">
        <div class="widget">

          {% if include.light_logo %}
          <img src="{{site.data.general_settings.light_logo_1x}}"
            srcset="{{site.data.general_settings.light_logo_1x}} 1x, {{site.data.general_settings.light_logo_2x}} 2x"
            alt="{{site.data.general_settings.title}}" />
          {% else %}
          <img src="{{site.data.general_settings.black_logo_1x}}"
            srcset="{{site.data.general_settings.black_logo_1x}} 1x, {{site.data.general_settings.black_logo_2x}} 2x"
            alt="{{site.data.general_settings.title}}" />
          {% endif %}

          {% if site.data.general_settings.description %}
          <div class="space20"></div>
          <p>{{site.data.general_settings.description}}</p>
          {% endif %}

        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->

      <div class="space30 d-lg-none d-xl-none"></div>

      <div class="col-6 col-md-3 col-lg-2 offset-lg-1">
        {% assign footer_nav_01 = site.data.navigation.footer_nav_01 %}
        <div class="widget">
          {% if footer_nav_01.title %}
          <h5 class="widget-title font-weight-bold">{{footer_nav_01.title}}</h5>
          {% endif %}
          <ul class="list-unstyled mb-0">
            {% for links in footer_nav_01.links %}
            <li><a href="{{links.url}}">{{links.text}}</a></li>
            {% endfor %}
            <li><a href="" data-cc="show-consentModal">Cookies</a></li>
          </ul>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->

      <div class="col-6 col-md-3 col-lg-2">
        {% assign footer_nav_02 = site.data.navigation.footer_nav_02 %}
        <div class="widget">
          {% if footer_nav_02.title %}
          <h5 class="widget-title font-weight-bold">{{footer_nav_02.title}}</h5>
          {% endif %}
          <ul class="list-unstyled mb-0">
            {% for links in footer_nav_02.links %}
            <li><a href="{{links.url}}">{{links.text}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->

      <div class="col-6 col-md-3 col-lg-2">
        {% assign footer_nav_03 = site.data.navigation.footer_nav_03 %}
        <div class="widget">
          {% if footer_nav_03.title %}
          <h5 class="widget-title font-weight-bold">{{footer_nav_03.title}}</h5>
          {% endif %}
          <ul class="list-unstyled mb-0">
            {% for links_03 in footer_nav_03.links %}
            <li><a href="{{links_03.url}}">{{links_03.text}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->

      <div class="col-6 col-md-3 col-lg-2">
        <div class="widget">
          <h5 class="widget-title font-weight-bold">Contact</h5>
          {% if site.data.general_settings.address_01 %}
          <address>{{site.data.general_settings.address_01}}</address>
          {% endif %}
          <a href="mailto:{{site.data.general_settings.email}}">{{site.data.general_settings.email}}</a><br />
          {{site.data.general_setting.phone_number}}
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->

    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="container inner pt-0 pb-40 d-flex align-items-center">
    <p class="mb-0 mr-auto">{{site.data.general_settings.copyright_text}} Powered by
      <a href="https://jekyllrb.com/" target="_blank" rel="noopener noreferrer">Jekyll</a>.
      <a href="https://www.flaticon.com/" target="_blank" rel="noopener noreferrer" title="statement icons">Icons
        created by Flaticon</a>
    </p>

    <ul class="social social-mute social-s ml-auto">
      <li>
        <p class="mb-0 mr-auto"> 
          {{site.data.general_settings.social_accounts.title}} 
        </p>
      </li>
      
      {% for social_links in site.data.general_settings.social_accounts.links %}
      <li><a href="{{social_links.url}}"  target="_blank" rel="noopener noreferrer"><i class="{{social_links.icon}}"></i></a></li>
      {% endfor %}
    </ul>
  </div>
</footer>