<meta charset="UTF-8"/>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="Transforming data into impactful results. I help organizations turn complex data into clear, practical results for better decisions and strategies.">
<meta name="keywords" content="data analysis, decision support, financial modeling, process analysis, agriculture, bioeconomy, research, development">
<meta name="author" content="Oriol Verdeny Vilalta">

<link rel="shortcut icon" href="{{relative_url}}{{site.data.general_settings.favicon}}"/>

<title>
  {% if page.tab_title %} 
    {{ site.data.general_settings.tab_title }} - {{ page.tab_title }} 
  {% else %}
    {{ site.data.general_settings.tab_title }}
  {% endif %}
</title>

{% seo %}

<!-- style -->
<link rel="stylesheet" type="text/css" href="{{relative_url}}/assets/css/bootstrap.min.css"/>
<!-- <link rel="stylesheet" type="text/css" href="{{relative_url}}/assets/css/plugins.css"/> -->
<link rel="stylesheet" type="text/css" href="{{relative_url}}/assets/type/type.css"/>
<!-- <link rel="stylesheet" type="text/css" href="{{relative_url}}/assets/css/style.css"/> -->
<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" >


<!-- Custom color, font and style -->
<link rel="stylesheet" href="{{ '/assets/css/yovori-theme.css' | relative_url }}">



<!-- styling code blocks with prism.js include prism.html -->


<!--Cookie Consent - https://cookieconsent.orestbida.com/ -->
<!-- Head content -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css"> 



