{% if post.post_image %}
<figure class="overlay overlay1 rounded mb-30">
	<a href="{{post.url}}"><img class="post-thumb" src="{{post.post_image}}" alt="{{post.title}}" loading="lazy"/></a>
  <figcaption>
    <h5 class="from-top mb-0">Read More</h5>
  </figcaption>
</figure>
{% endif %}
{% if post.categories %}
 <div class="category">
 	 <a href="/category/{{post.categories[0] | slugify}}" class="badge badge-pill badge-category font-weight-bold">{{post.categories[0]}}</a>
 </div>
{% endif %}
<h2 class="post-title"><a href="{{post.url}}">{{post.title}}</a></h2>
<div class="post-content">
  <p>{{post.excerpt | strip_html | truncatewords: 25}}</p>
</div>
