/*-----------------------------------------------------------------------------------*/
/*  05. MEGA MENU
/*-----------------------------------------------------------------------------------*/
.navbar-nav {
    &,
    > li.mega-menu {
      position: static;
    }
  
    > li > ul.mega-menu {
      margin-left: 0;
      right: 0;
      width: auto;
      max-width: none;
    }
  }
  