/*-----------------------------------------------------------------------------------*/
/*  10. BUTTON
/*-----------------------------------------------------------------------------------*/



// CHECK IF WE ARE USING THIS MIXINS; I DON'T THINK WE ARE, SO I COMMENTED THEM OUT:
// Button hover effects
// @mixin btn-hover($color, $opacity: 0.2) {
//   box-shadow: 0 0 0 5px rgba($color, $opacity);
// }

// @mixin badge-hover($color, $opacity: 0.2) {
//   box-shadow: 0 0 0 4px rgba($color, $opacity);
// }


// Mixin for hover and active states
@mixin btn-hover-active($color) {
  &:hover,
  &:active,
  &.active {
    box-shadow: map-get($hover-shadows, $color);
  }
}


// Mixin for button hover styles
@mixin btn-hover-shadow($color, $opacity: $shadow-opacity-default) {
  box-shadow: 0 0 0 $shadow-spread rgba($color, $opacity);
}


// Button Base Styles
.btn {
  color: $color-dark;
  background: $color-default;
  border: 0;
  margin: 0 0.25rem 0.5rem;
  padding: 0.9rem 1.3rem 0.8rem;
  font-size: 0.65rem;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  border-radius: 1.5rem;
  text-shadow: none;
  transition: all 300ms ease-in-out;
  box-shadow: none;
  display: inline-block;

  &-icon {
    i {
      vertical-align: -1px;
    }

    &.navigation i {
      vertical-align: 0;
    }
  }

  &-icon-left i {
    margin-right: 0.25rem;
  }

  &-icon-right i {
    margin-left: 0.25rem;
  }

  &:focus {
    color: $color-white;
    box-shadow: inherit;
  }

  &:hover,
  &:active,
  &.active {
    color: $color-dark;
    @include btn-hover-shadow($color-default);
  }

  &.btn-s {
    padding: 0.65rem 0.9rem 0.55rem;
  }

  &.btn-l {
    padding: 1.05rem 1.5rem 1rem;
    font-size: 0.7rem;
  }

  &.fixed-width {
    width: 165px;
  }

  &.btn-square {
    padding: 0.5rem;
  }

  &.btn-submit {
    margin: 0;
  }

  // Generate color-specific styles
  @each $name, $color in $colors {
    &.btn-#{$name} {
      background: $color;
      @include btn-hover-active($name);
    }
  }
}

// Alignment
.text-center .btn {
  margin: 0 0.25rem;
}

.text-right .btn {
  margin-right: 0;
}


// Define share button colors
$share-colors: (
  "facebook": (#4470cf, #340bb3),
  "google": (#a84539, #91362b),
  "pinterest": (#c53942, #b12b34),
  "tumblr": (#5d82a4, #496b8b),
  "twitter": (#5daed5, #4c9ec6)
);

// Generate styles for each button
@each $platform, $colors in $share-colors {
  $bg: nth($colors, 1);
  $hover-bg: nth($colors, 2);

  .btn.share-#{$platform} {
    background: $bg;

    &:hover,
    &:focus,
    &:active,
    &.active {
      background: $hover-bg;
    }
  }
}



