
/*-----------------------------------------------------------------------------------*/
/*  12. WRAPPERS
/*-----------------------------------------------------------------------------------*/

.light-wrapper {
    background-color: $color-light-gray;
}

.gray-wrapper {
    background-color: $color-gray;
}

.dark-wrapper {
    background-color: $color-dark;
}

.white-wrapper {
    background-color: $color-white;
}


.gradient-wrapper {
    background-image: -o-linear-gradient(315deg, rgba(149, 74, 166, 1) 0%, rgba(114, 90, 238, 1) 100%);
    background-image: linear-gradient(135deg, rgba(149, 74, 166, 1) 0%, rgba(114, 90, 238, 1) 100%);
}

.fill-white-wrapper {
    fill: $color-white;
}

.fill-light-wrapper {
    fill: $color-light-gray;
}

.fill-gray-wrapper {
    fill: $color-gray
}

.fill-dark-wrapper {
    fill: $color-dark;
}


.overflow-top {
    margin-top: -10rem;
    position: relative;
    z-index: 2;

    &.bleed-s { margin-top: -7.5rem; }
    &.bleed-l { margin-top: -30rem; }
}

.overflow-bottom {
    top: 0rem;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    position: relative;
    z-index: 2;
    margin-bottom: -2rem;
}