/*-----------------------------------------------------------------------------------*/
/*  25. LISTS
/*-----------------------------------------------------------------------------------*/
ul,
ol {
  padding-left: 15px;
}

.unordered-list,
.icon-list {
  list-style: none;
  padding: 0;

  > li {
    &:before {
      font-family: sans-serif;
      font-size: 1.1rem;
      vertical-align: middle;
      display: inline-block;
      margin-right: 0.35rem;
      content: "\2022";
    }
  }
}

.mega-menu-content {
  .unordered-list > li:before {
    vertical-align: 0;
  }
}

.unordered-list {
  &-circle { list-style-type: circle; }
  &-disc { list-style-type: disc; }

  & > li {
    &:before { content: "\2022"; }
  }
}

.ordered-list {
  &-roman { list-style-type: upper-roman; }
  &-alpha { list-style-type: lower-alpha; }
}

.list-inline {
  margin-left: -0.5rem;

  > li {
    padding: 0 0.5rem;

    &.flex-middle {
      display: flex !important;
    }
  }
}

.icon-list {
  i {
    padding-right: 0.5rem;
    font-size: 0.75rem;
    vertical-align: -1px;
  }
}

.image-list {
  padding: 0;
  margin: 0;

  &:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  li {
    clear: both;
    margin-bottom: 1rem;
    display: block;
    overflow: hidden;

    &:last-child { margin: 0; }

    a:hover {
      color: var(--color-default);
    }

    figure {
      float: left;
      width: 70px;
      height: 70px;
    }

    .post-content {
      margin-left: 85px;
      margin-bottom: 0;
    }
  }
}

.tag-list li {
  display: inline-block;
}

.category-list .badge {
  padding: 0 0.5rem;
  margin-left: 0.5rem;
}
