/*-----------------------------------------------------------------------------------*/
/*  54. FORMS
/*-----------------------------------------------------------------------------------*/

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    width: 100%;
    font-weight: normal;
  }
  
  .col-form-label {
    line-height: 1.9;
  }
  
  label:not(.custom-control-label) {
    font-weight: 500;
    color: #404040;
  
    input, textarea {
      margin-top: 0.25rem;
    }
  }
  
  .form-field label, .form-group .custom-select {
    width: 100%;
  }
  
  .form-inline {
    .btn, .form-group .btn {
      vertical-align: top;
    }
  
    .form-group {
      margin-right: 0.25rem;
  
      label {
        margin-right: 0.25rem;
      }
    }
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-row {
    margin-right: -10px;
    margin-left: -10px;
  
    > .col, > [class*="col-"] {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  
  $input-types: "text", "password", "datetime", "datetime-local", "date", "month", "time", "week", "number", "email", "url", "search", "tel", "color";
  
  select, textarea, input[type="#{$input-types}"], .uneditable-input {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-weight: inherit;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1rem;
    font-size: 0.8rem;
    color: #606060;
    background: rgba(var(--rgb-black), 0.05);
    border: 0;
    border-radius: 1.25rem;
    resize: none;
    vertical-align: middle;
    box-shadow: none;
    transition: all 200ms ease-in-out;
  
    &:focus {
      box-shadow: none;
      border: 0;
      background: rgba(var(--rgb-black), 0.07);
    }
  }
  
  textarea, textarea.form-control {
    height: 8rem;
    line-height: 1.4rem;
    width: 100%;
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    resize: vertical;
  }
  
  .input-group > .custom-select:not(:last-child), .input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child) {
    border-radius: 1.25rem !important;
  }
  
  .form-container {
    .form-field {
      position: relative;
  
      i {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 0.65rem;
        margin: 1px 0 0 0;
        line-height: 2rem;
        color: #a3a3a3;
        height: 1.9rem;
        border-right: 1px solid #ccc;
        font-weight: normal;
      }
    }
  }
  
  @-moz-document url-prefix() {
    select {
      text-shadow: 0 0 0 transparent;
    }
  }
  
  input.error, textarea.error {
    border: 1px solid #d9534f !important;
  }
  
  .state-error, .btn.state-error:hover {
    background-color: #de4747 !important;
    color: var(--color-white);
  }
  
  .help-block.with-errors {
    color: #de4747;
    margin-top: 5px;
  }
  
  .notification-box {
    display: block;
    padding: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0.2rem;
    opacity: 0;
  
    &.show-error {
      color: #721c24;
      background: #f8d7da;
      border: 0;
      opacity: 1;
    }
  
    &.show-success {
      color: #155724;
      background: #d4edda;
      border: 0;
      opacity: 1;
    }
  }
  
  .search-form {
    position: relative;
  
    input {
      margin: 0;
      padding-right: 1rem !important;
    }
  
    &:before {
      content: "\ebab";
      font-family: 'Jam';
      display: block;
      position: absolute;
      top: 0.55rem;
      right: 0.75rem;
      font-size: 0.85rem;
      color: #606060;
    }
  }
  
  .custom-select {
    height: 2.5rem;
    background: rgba(var(--rgb-black), 0.05);
    border: 0;
    border-radius: 1.25rem;
    padding: 0 2rem 0 1.2em;
  
    &:focus {
      box-shadow: none;
      background: rgba(var(--rgb-black), 0.07);
    }
  }
  
  .custom-select-wrapper {
    position: relative;
  
    &:before {
      position: absolute;
      top: 0.5rem;
      right: 0.7rem;
      font-family: 'Jam';
      content: "\e9ba";
      display: block;
      color: #404040;
      font-size: 0.9rem;
      pointer-events: none;
    }
  }
  
  .custom-control-label {
    &::before, &::after {
      top: 3px;
    }
  
    &::before {
      background-color: rgba(var(--rgb-black), 0.07);
    }
  }
  
  .custom-control-input {
    &:disabled ~ .custom-control-label {
      &::before {
        background-color: rgba(var(--rgb-black), 0.04);
      }
      color: #808080;
    }
  
    &:active ~ .custom-control-label::before, &:checked ~ .custom-control-label::before {
      background-color: var(--color-default);
    }
  
    &:focus ~ .custom-control-label::before {
      box-shadow: none !important;
    }
  }
  
  .form-control {
    &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
      color: #606060;
      font-weight: normal;
      opacity: 1;
    }
  }
  
  .item-quantity {
    background: rgba(var(--rgb-black), 0.05);
    border: 0;
    border-radius: 1.25rem;
    display: inline-block;
    padding: 0 5px;
    margin: 0;
  
    input, .qty {
      border: 0;
      background: none;
      height: 48px;
      line-height: 1;
    }
  
    .qty {
      width: 60px;
      text-align: center;
  
      &:focus {
        background: none;
      }
    }
  }
  
  .item-detailed .custom-select-wrapper {
    min-width: 100px;
  }
  
  .fields-white {
    select, textarea, input[type="#{$input-types}"], .uneditable-input, .custom-select, .custom-control-label::before {
      -webkit-appearance: none !important;
      background: var(--color-white);
      box-shadow: var(--shadow) !important;
    }
  
    .custom-control-input:disabled ~ .custom-control-label::before {
      background-color: rgba(var(--rgb-white), 0.6);
      box-shadow: var(--shadow) !important;
    }
  }