/*-----------------------------------------------------------------------------------*/
/*  59. LINEAR ICONS LIST
/*-----------------------------------------------------------------------------------*/

.lineal-icon-list {
    text-align: center;
  
    li {
      line-height: 6rem;
    }
  
    img {
      width: 3rem;
      height: auto;
    }
  }