








/*-----------------------------------------------------------------------------------*/
/*	RESPONSIVE IMAGES
/*-----------------------------------------------------------------------------------*/

/* Custom styles for responsive images */
.responsive-img {
  display: block;
  margin: 0 auto;
}

@media (max-width: 991.98px) {
  .responsive-img {
    width: 50%; /* Reduce width for smaller screens */
    height: auto;
  }
}

@media (min-width: 992px) {
  .responsive-img {
    width: 75%; /* Full width for larger screens */
    height: auto;
  }
}

/* Optional: Adjust rounded corners */
.rounded-4 {
  border-radius: 1.5rem; /* Customize this value as needed */
}


/*-----------------------------------------------------------------------------------*/
/*	WRAPPERS
/*-----------------------------------------------------------------------------------*/

// Yovori wrapper styles
.yovori-wrapper {
    background-color: $color-default;

    // Specific selection styles
    // child elements inside .yovori-wrapper inherit the global ::selection styles unless 
    // explicitly overridden. We to explicitly target the ::selection pseudo-elements for all 
    // descendants of .yovori-wrapper. 
    &::selection,
    & *::selection,
    &::-moz-selection,
    & *::-moz-selection {
        background: rgba($color-blue-yovori, 0.8) !important;
        color: $color-light-gray !important;
    }
}

/*-----------------------------------------------------------------------------------*/
/*	TITLE BACKGROUND (used in the badges that introduce sections (not used anymore)
/*-----------------------------------------------------------------------------------*/

// Title background styles
.title-bg {
    padding-top: 0.4rem;

    &.bg-default {
        // Background color with 90% opacity
        background: rgba($color-default, 0.9);
    }
}


/*-----------------------------------------------------------------------------------*/
/*	BACKGROUND WITH OPACITY VALUE
/*-----------------------------------------------------------------------------------*/

/* This sets a very subtle background color (20% opacity) using the 
--rgb-default value, creating a nearly transparent effect. */
.bg-opacity-default {
    background: rgba($color-default, 0.20);
}



/*-----------------------------------------------------------------------------------*/
/*	BADGES OF THE CASE STUDIES
/*-----------------------------------------------------------------------------------*/

// Badge styles
.badge-cart,
.badge {
    padding: 0.5rem 1rem;
}

// Category badge styles
.badge-category {
    color: $color-default;
    background: $color-dark-yovori;

    &:hover,
    &:focus {
        color: $color-default;
        background: $color-dark;
    }
}




/*-----------------------------------------------------------------------------------*/
/*	HERO SECTION
/*-----------------------------------------------------------------------------------*/

// Hero heading styles
h1.hero {
    font-size: clamp(1.7rem, 4vw, 3rem);
    line-height: 1.2;
    font-weight: 700;
}

// Hero paragraph styles
p.hero {
    font-size: clamp(1rem, 2vw, 1.5rem);
    line-height: 1.5;
    font-weight: 700;
}

// Hero image styles
img.hero {
    width: clamp(75%, 80vw, 100%);
    max-width: clamp(250px, 20vw, 350px);
    height: auto;
    border-radius: 15px;
}


// Hero image wrapper styles
.image-wrapper-hero {
    // padding: clamp(10px, 5vw, 30px); // Uncomment if you want to use padding with clamp
    background-size: cover;
    background-position: center;
}




/*-----------------------------------------------------------------------------------*/
/*	ABOUT SECTION
/*-----------------------------------------------------------------------------------*/

$font-size-about: clamp(1rem, 2vw, 1.2rem);
$line-height-about: 1.5;


blockquote.icon.about p,
p.about {
    font-style: normal;
    font-size: $font-size-about;
    line-height: $line-height-about;
}


// Full-width horizontal line with limited-width text
.value-item {
    border-bottom: 1px solid #ccc; // Horizontal line spanning full width
    padding: 1rem 0; // Vertical padding
    transition: background-color 1s ease;

    &:hover {
        background-color: rgba($color-default, 0.20); // Dark background on hover

        .icon-value {
            background-color: $color-dark; // Dark background on hover
            color: $color-default; // Default text color on hover
        }

        .text-container,
        .value-title {
            color: black;
        }
    }
}

// Icon container default styles
.icon-value {
    background-color: #ddd; // Light gray background
    color: gray; // Gray number
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background-color 1s ease, color 1s ease;
}

// Text and title default styles
.text-container,
.value-title {
    max-width: 600px; // Limit text width
    color: gray; // Default text color
    transition: color 1s ease; // Smooth transition for hover effect
}


/*-----------------------------------------------------------------------------------*/
/*	CALL TO ACTION
/*-----------------------------------------------------------------------------------*/

/*--------*/
/* BANNER */
/*--------*/

// CTA button styles
.cta {
    background: $color-default;
    border-radius: 50px;

    &::selection,
    & *::selection,
    &::-moz-selection,
    & *::-moz-selection {
        background: rgba($color-blue-yovori, 0.8) !important;
        color: $color-light-gray !important;
    }
}

// CTA Wrapper styles
.cta-wrapper {
    background: no-repeat center center;
    background-size: cover;
    position: relative;

    &:not(.mobile) {
        background-attachment: fixed !important;
    }

    &.bg-auto {
        background-size: auto;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll !important;
    }

    &.bg-full {
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: scroll !important;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba($color-default, 0.75);
        border-radius: 50px !important;
    }

    &.gradient-overlay::before {
        background: none;
        background-image: linear-gradient(135deg, rgba(111, 63, 124, 0.55) 0%, rgba(88, 73, 170, 0.55) 100%);
    }

    &.no-overlay::before {
        display: none;
    }

    &:not(.no-overlay) * {
        position: relative;
        z-index: 2;
    }

    .cbp-nav-controls,
    .tparrows {
        position: absolute;
    }
}

// Media query for responsiveness
@media (max-width: 767px) {
    .cta-wrapper.bg-full {
        background-size: cover !important;
    }
}


/*--------*/
/* BUTTON */
/*--------*/

// Button CTA styles
.btn-cta {
    color: $color-light-gray;
    background: $color-blue-yovori;

    &:focus,
    &:hover {
        background-color: rgba($color-blue-yovori, 0.9);
        color: $color-light-gray;
    }

    &.btn {
        &:hover,
        &:active,
        &.active {
            @include btn-hover-shadow($color-blue-yovori);
        }

        &.btn-strong-hover {
            &:hover,
            &:active,
            &.active {
                @include btn-hover-shadow($color-blue-yovori, $shadow-opacity-strong);
            }
        }
    }
}



// Button hero styles
.btn-hero {
    color: $color-dark-yovori;
    background: $color-default;
  
    &:focus,
    &:hover {
      background-color: rgba($color-blue-electric, 0.9);
      color: $color-dark-yovori;
    }
  
    &.btn {
      &:hover,
      &:active,
      &.active {
        @include btn-hover-shadow($color-blue-electric);
      }
  
      &.btn-strong-hover {
        &:hover,
        &:active,
        &.active {
          @include btn-hover-shadow($color-blue-electric, $shadow-opacity-strong);
        }
      }
    }
  }


/*-----------------------------------------------------------------------------------*/
/*	MORE YOVORI (adds Yovori styling to .more class)
/*-----------------------------------------------------------------------------------*/

.more-yovori {
    color: $color-default;
    font-size: 1rem;

    &:hover {
        color: rgba($color-default, 0.8);
    }
}




/*-----------------------------------------------------------------------------------*/
/*	NAVIGATION LINKS, DROPDOWNS, TABS
/*-----------------------------------------------------------------------------------*/

// // Navigation and Button Styling
// .nav-uppercase {
//     .navbar-nav {
//         .nav-link,
//         .dropdown-item,
//         .mega-menu-content a,
//         .nav-tabs .nav-link {
//             font-size: $small-font-size;
//             font-weight: $font-weight-bold;
//             line-height: $compact-line-height; // vertical spacing between lines of text
//         }
//     }
// }

// // Media Query Adjustments
// @media (min-width: 992px) {
//     .nav-uppercase {
//         .navbar-nav {
//             .nav-link,
//             .navbar.extended .navbar-nav .nav-link {
//                 padding-top: 1.35rem;
//                 padding-bottom: 1.3rem;
//             }
//         }
//     }
// }

// @media (max-width: 991.98px) {
//     .nav-uppercase {
//         .navbar-nav {
//             .nav-link,
//             .dropdown-item,
//             .mega-menu-content a {
//                 font-size: calc($small-font-size - 0.1rem);
//             }
//         }
//     }
// }







/*-----------------------------------------------------------------------------------*/
/*	PREVENT SELECTION
/*-----------------------------------------------------------------------------------*/


.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* Prevent image to be dragged */
/* <img src="{{relative_url}}{{service.icon_image}}" draggable="false" alt=""> */

/* Prevent text to be selected */
/* <div class="prevent-select"> */




/*-----------------------------------------------------------------------------------*/
/*	DEBUGGING (to see positioning of elements)
/*-----------------------------------------------------------------------------------*/

/* Show all elements with red borders */
// * {
// 	border: 1px solid red !important;
// 	box-sizing: border-box;
// }

/* Restrict red borders to specific classes */
// .container * {
// 	border: 1px solid red !important;
// }

