---
layout: general_page

tab_title: Services

custom_css:
custom_font:

black_menu: true
header_style: 'one'
subheader: false

call_of_action:
  enable: true
  text: "Do you want us to just do your data analysis for you?"
  button_text: "Yes! Let's talk!"
  background: "/assets/images/art/bg5.jpg"

hero_area:
  enable: true
  title: "Data Analysis and Decision Support"
  sub_titles:
    - sub_title: "We provide advanced data analytics to interpret agricultural data across the entire value chain, from
    primary production to the transformation of agricultural products."
    - sub_title: "Our services address agricultural, environmental, and economic challenges, supporting our clients in
    decision-making, business development, and research project outcomes."
  image: 

services_area_1:
  enable: true
  title: 
  image: "/assets/images/01-Home/data-analysis.jpg"
  services:
    - icon_title: "Data Analysis"
      icon_image: "/assets/images/icons/of-diagram.png"
      title: "Data Analysis and Visualization"
      id: "tab1-1"
      icon: "icofont-chart-line-alt"
      image: "/assets/images/01-Home/data-analysis.jpg"
      content: |
        We provide a broad range of data analysis services, from descriptive and diagnostic to predictive analytics and analysis
        of experiments, helping you understand observed trends, root causes of problems, and your operations as a whole. <br><br>
        We also organize, clean, and transform your data to ensure it’s ready for analysis. Our visualization tools convert complex
        datasets into clear and intuitive visuals, making it easier for you to interpret results and make informed decisions.<br><br>
        Whether you need help cleaning your data and combining databases, designing and analyzing experiments, or visualizing
        weather patterns and market trends, we offer data-driven solutions adapted to your needs.
      
    - icon_title: "Synthesis of Information"
      icon_image: "/assets/images/icons/of-chart.png"
      title: "Synthesis of Information and Communication"
      id: "tab1-2"
      icon: "icofont-presentation"
      image: "/assets/images/02-Services/synthesis-of-information.jpg"
      content: |
        We synthesize complex datasets and analytical findings into clear and concise conclusions in the form of reports or
        presentations. <br><br> 
        Our aim is to ensure that all stakeholders, regardless of technical background, can fully understand the
        results and apply them effectively to make informed decisions. <br><br>
        This service is essential for bridging the gap between
        data analysis research and real-world application.

    - icon_title: "Decision Support"
      icon_image: "/assets/images/icons/ui-structure.png"
      title: "Decision Support Systems"
      id: "tab1-3"
      icon: "icofont-site-map"
      image: "/assets/images/02-Services/decision-support.jpg"
      content: |
        We help you develop systems that integrate data analytics, business intelligence, and modeling tools to support the
        process of decision-making. <br><br>
        While we do not build the systems ourselves, we collaborate with your team to ensure that
        the systems are well designed and effectively support the decision-making process.

services_area_2:
  enable: true
  title: "Agriculture-Specific Data Services"
  image: "/assets/images/04-About/vision.jpg"
  services:

    - title: "Agricultural Performance"
      image: "/assets/images/04-About/vision.jpg"
      content: |
        We analyze your data on crop growth, soil health, production and transformation processes, or
        pest pressures to identify areas for improvement. Additionally, we examine the efficiency of your value chain, helping
        you identify where processes can be improved, reduce costs, and increase sustainability. Based on our results we can
        provide you an understanding of the current situation, allowing you to make informed decisions, improve yields, and
        enhance value chain performance.

    - title: "Environmental and Resource Analysis"
      image: "/assets/images/02-Services/fish-ponds.jpg"
      content: |
        We analyze your use of resources like water, energy, and raw materials throughout your operations. Our goal is to
        identify areas where resources can be used more efficiently, cutting down on waste and costs without impacting
        productivity, and manage resources in a more sustainable way.

    - title: "Market Trend and Trade Flow Analysis"
      image: "/assets/images/02-Services/sea-cargo.jpg"
      content: |
        We analyze data on commodity prices, supply chain patterns, and market demand to provide you with information that can
        drive your business decisions. <br><br>
        We also examine international trade flows to help you understand how global markets might
        affect your operations, giving you the information you need to adapt to changing market conditions, identify
        opportunities, minimize risks, and stay competitive in dynamic markets.

tabs:
  - id: "tab3-1"
    icon: "icofont-safety"
    title: "Payments"
    description: "Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere
    velit aliquet."
    image: "concept6.png"
  - id: "tab3-2"
    icon: "icofont-chart-arrows-axis"
    title: "Marketing"
    description: "Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere
    velit aliquet."
    image: "concept7.png"
  - id: "tab3-3"
    icon: "icofont-refresh"
    title: "Updates"
    description: "Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere
    velit aliquet."
    image: "concept8.png"
---
<!-- Service General Description -->
<div class="wrapper gray-wrapper">
  <div class="container inner">
    {% if page.hero_area.enable %}
    <div class="row">
      <div class="col-md-10 mx-auto">
        <h2 class="section-title larger text-center">{{page.hero_area.title}}</h2>
        <div class="space20"></div>
        {% for subtitle in page.hero_area.sub_titles %}
        <h5 class="display-4 text-center"> {{subtitle.sub_title}} </h5>
        <div class="space20"></div>
        {% endfor %}
      </div>
    </div>
    <!-- <div class="space10"></div> -->
    {% if page.hero_area.image %}
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <figure>
          <img src="{{page.hero_area.image}}" alt="{{page.hero_area.sub_title}}" />
        </figure>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    {% endif %}
    <!-- <div class="space10"></div> -->
    {% endif %}
  </div>
  <div class="divider"><svg xmlns="http://www.w3.org/2000/svg" class="fill-white" preserveAspectRatio="none"
      viewBox="0 0 1070 52.84">
      <path d="M0,44.84s210-75,504-31,566,15,566,15v24H0Z" />
    </svg></div>
</div>


<div class="wrapper white-wrapper">
  <div class="container inner">
    <h2 class="section-title mb-40 text-center">{{page.services_area_1.title}}</h2>
    <ul class="nav nav-tabs nav-tabs-centered nav-tabs-bg d-flex justify-content-between nav-justified text-center">
      {% for service in page.services_area_1.services %}
      <li class="nav-item">
        <a class="nav-link  {% if forloop.first %}active{% endif %}" data-toggle="tab" href="#{{ service.id }}">
          <div class="icon icon-svg mb-10"><img src="{{relative_url}}{{service.icon_image}}" alt=""></div>
          <span>{{ service.icon_title }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
    <!-- /.nav-tabs -->
    <div class="space30 d-none d-md-block"></div>
    <div class="tab-content">

      {% for service in page.services_area_1.services %}

      <div class="tab-pane {% if forloop.first %}show active{% endif %}" id="{{ service.id }}">
        <div class="box bg-white shadow">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="pr-15 pr-md-0 pr-sm-0 h-100">
                <figure><img src="#" srcset="{{relative_url}}{{ service.image }}" alt="" /></figure>
              </div>
            </div>
            <!--/column -->
            <div class="space30 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-6">
              <div class="pl-15 pl-md-0 pl-sm-0 h-100">
                <h2>{{ service.title }}</h2>
                <p>{{ service.content }}</p>
              </div>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/.box -->
      </div>
      {% endfor %}

    </div>
    <!-- /.tab-content -->
  </div>
  <!-- /.container -->
     <!-- <div class="divider" data-image-src="{{relative_url}}/assets/images/04-About/vision.jpg">
    <svg xmlns="http://www.w3.org/2000/svg" class="fill-gray" preserveAspectRatio="none" viewBox="0 0 1070 52.84">
      <path d="M0,40 C150,20,300,60,450,40 S800,10,1070,35 v18 H0 Z" />
    </svg>
  </div> -->
</div>
<!-- /.wrapper -->


<!-- Fetch the Contact menu item directly -->
{% assign contact = site.data.navigation.main_menu | where: "text", "Contact" | first %}

<!-- Call to Action -->
<div class="wrapper white-wrapper" id="whatwedo">
  <div class="container inner">
    <div class="box p-60 bg-default rounded d-md-flex align-items-md-center justify-content-md-between">
      <h3 class="display-3 mb-0">{{ page.call_of_action.text }}</h3>
      <!-- <div class="space30 d-md-none"></div> -->
      <a href="{{ contact.url | default: '/contact/' }}"
        class="btn btn-cta btn-strong-hover btn-cta mb-0 font-weight-bold display-4">
        {{ page.call_of_action.button_text }}
      </a>
    </div>
  </div>
</div>



<div class="wrapper dark-wrapper inverse-text">
  <div class="container inner">

    <h2 class="section-title larger text-center">{{page.services_area_2.title}}</h2>

    {% for service in page.services_area_2.services %}
    <div class="row align-items-center">
      <div class="col-lg-6 {% if forloop.index == 2  %} order-lg-2 {% endif %}">
        <figure class="img-blob blob1 mb-30">
          <img src="{{service.image}}" alt="{{service.title}}" />
        </figure>
      </div>
      <!--/column -->
      <div class="space40 d-lg-none"></div>
      <div class="col-lg-6 pl-60 pl-md-15">
        <h3 class="display-3">{{service.title}}</h3>
        <div class="space20"></div>
        <p>{{service.content}} </p>
        <div class="space10"></div>
        {% if page.two_columns_area_one.btn_url %}
        <a href="{{page.services_area_2.btn_url}}" class="btn btn-purple">{{page.services_area_2.btn_text}}</a>
        {% endif %}
      </div>
      <!--/column -->
    </div>
    <div class="space80"></div>
    {% endfor %}


  </div>
</div>

<!-- Toggle Detailed Service Description -->
<!-- <div class="wrapper image-wrapper bg-image inverse-text"
  data-image-src="{{relative_url}}/assets/images/02-Services/agri-data-services.jpg"> -->
  <!-- <div class="wrapper white-wrapper">
  <div class="container inner">
    {% if page.services_area_2.enable %}

    <div class="two-columns-two">
      <div class="row align-items-center">
        {% if page.services_area_2.image %}
        <div class="col-lg-4 order-lg-2 text-center">
          <figure class="img-blob blob1 mb-30">
            <img src="{{page.services_area_2.image}}" alt="{{page.services_area_2.title}}" class="img-fluid" />
          </figure>
        </div>
        {% endif %}
        <div class="space20 d-md-none"></div>
        <div class="space50 d-none d-md-block d-lg-none"></div>
        <div class="col-lg-8 order-lg-1 pr-60 pr-md-15">
          <h3 class="display-3">{{page.services_area_2.title}}</h3>
          <div class="space20"></div>
          <div id="accordion-2" class="accordion-wrapper">
            {% for service in page.services_area_2.services %}
            <div class="card shadow">
              <div class="card-header" id="accordion-heading-2-{{forloop.index}}">
                <h5>
                  <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-{{forloop.index}}"
                    aria-expanded="false" aria-controls="accordion-collapse-2-1">{{service.title}}</button>
                </h5>
              </div>
              <div id="accordion-collapse-2-{{forloop.index}}" class="collapse"
                aria-labelledby="accordion-heading-2-{{forloop.index}}" data-target="#accordion-2">
                <div class="card-body">
                  <p>{{service.content}}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div> -->



