---
layout: general_page

tab_title: Services

call_to_action:
  enable: true
  text: "Do you want me to just do your data analysis for you?"
  button_text: "Yes! Let's talk!"
  background: 

hero_area:
  enable: true
  title: "Data Analysis and Decision Support"
  sub_titles:
    - sub_title: "I provide advanced data analytics to interpret agricultural data across the entire value chain, from
    primary production to the transformation of agricultural products."
    - sub_title: "My services address agricultural, environmental, and economic challenges, supporting your
    decision-making, business development, and research project outcomes."
  image: 

services_area_1:
  enable: true
  title: 
  image: "/assets/images/01-Home/data-analysis.jpg"
  services:
    - icon_title: "Data Analysis"
      icon_image: "/assets/images/icons/of-diagram.png"
      title: "Data Analysis and Visualization"
      id: "tab1-1"
      icon: "icofont-chart-line-alt"
      image: "/assets/images/01-Home/data-analysis.jpg"
      content: |
        I provide a broad range of data analysis services, from descriptive and diagnostic to predictive analytics and analysis
        of experiments, helping you understand observed trends, root causes of problems, and your operations as a whole. <br><br>
        I also organize, clean, and transform your data to ensure it’s ready for analysis. My visualization tools convert complex
        datasets into clear and intuitive visuals, making it easier for you to interpret results and make informed decisions.<br><br>
        Whether you need help cleaning your data and combining databases, designing and analyzing experiments, or visualizing
        weather patterns and market trends, I offer data-driven solutions adapted to your needs.
      
    - icon_title: "Synthesis of Information"
      icon_image: "/assets/images/icons/of-chart.png"
      title: "Synthesis of Information and Communication"
      id: "tab1-2"
      icon: "icofont-presentation"
      image: "/assets/images/02-Services/synthesis-of-information.jpg"
      content: |
        I synthesize complex datasets and analytical findings into clear and concise conclusions in the form of data products, reports or
        presentations. <br><br> 
        My aim is to ensure that all stakeholders, regardless of technical background, can fully understand the
        results and apply them effectively to make informed decisions. <br><br>
        This service is essential for bridging the gap between
        data analysis research and real-world application.

    - icon_title: "Decision Support"
      icon_image: "/assets/images/icons/ui-structure.png"
      title: "Decision Support Systems"
      id: "tab1-3"
      icon: "icofont-site-map"
      image: "/assets/images/02-Services/decision-support.jpg"
      content: |
        I help you develop systems that integrate data analytics, business intelligence, and modeling tools to support the
        process of decision-making. <br><br>
        While I do not build the systems myself, I collaborate with your team to ensure that
        the systems are well designed and effectively support the decision-making process.

services_area_2:
  enable: true
  title: "Agriculture-Specific Data Services"
  image: "/assets/images/02-Services/farm-africa.jpg"
  services:

    - title: "Agricultural Performance"
      image: "/assets/images/02-Services/farm-africa.jpg"
      content: |
        I analyze your data on crop growth, soil health, production and transformation processes, or pest pressures to identify
        areas for improvement. Additionally, I examine the efficiency of your value chain, helping you identify where processes
        can be improved, reduce costs, and increase sustainability. Based on the results I can provide you an understanding of
        the current situation, allowing you to make informed decisions, improve yields, and enhance value chain performance.

    - title: "Environmental and Resource Analysis"
      image: "/assets/images/02-Services/fish-ponds.jpg"
      content: |
        I analyze your use of resources like water, energy, and raw materials throughout your operations. The goal is to
        identify areas where resources can be used more efficiently, cutting down on waste and costs without impacting
        productivity, and manage resources in a more sustainable way.

    - title: "Market Trend and Trade Flow Analysis"
      image: "/assets/images/02-Services/sea-cargo.jpg"
      content: |
        I analyze data on commodity prices, supply chain patterns, and market demand to provide you with information that can
        drive your business decisions. <br><br>
        I also examine international trade flows to help you understand how global markets might
        affect your operations, giving you the information you need to adapt to changing market conditions, identify
        opportunities, minimize risks, and stay competitive in dynamic markets.

tabs:
  - id: "tab3-1"
    icon: "icofont-safety"
    title: "Payments"
    description: "Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere
    velit aliquet."
    image: "concept6.png"
  - id: "tab3-2"
    icon: "icofont-chart-arrows-axis"
    title: "Marketing"
    description: "Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere
    velit aliquet."
    image: "concept7.png"
  - id: "tab3-3"
    icon: "icofont-refresh"
    title: "Updates"
    description: "Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere
    velit aliquet."
    image: "concept8.png"
---

<!-- Service General Description -->
<div class="wrapper gray10-wrapper inverse-text">
  <div class="container inner">
    {% if page.hero_area.enable %}
    <div class="row">
      <div class="col-md-10 mx-auto">
        <h2 class="section-title larger text-center">{{page.hero_area.title}}</h2>
        <div class="space20"></div>
        {% for subtitle in page.hero_area.sub_titles %}
        <h5 class="display-4 text-center"> {{subtitle.sub_title}} </h5>
        <div class="space20"></div>
        {% endfor %}
      </div>
    </div>
    <!-- <div class="space10"></div> -->
    {% if page.hero_area.image %}
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <figure>
          <img src="{{page.hero_area.image}}" alt="{{page.hero_area.sub_title}}" />
        </figure>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    {% endif %}
    <!-- <div class="space10"></div> -->
    {% endif %}
  </div>
  <div class="divider"><svg xmlns="http://www.w3.org/2000/svg" class="fill-white" preserveAspectRatio="none"
      viewBox="0 0 1070 55">
      <path d="M0,2S140.54-7.76,299,16c247,37,483-3,590-4,104-1,181,14,181,14V57H0Z" />
    </svg></div>
</div>

<div class="wrapper white-wrapper">
  <div class="container inner">
    <h2 class="section-title mb-40 text-center">{{page.services_area_1.title}}</h2>
    <ul class="nav nav-tabs nav-tabs-centered nav-tabs-bg d-flex justify-content-between nav-justified text-center">
      {% for service in page.services_area_1.services %}
      <li class="nav-item">
        <a class="nav-link  {% if forloop.first %}active{% endif %}" data-toggle="tab" href="#{{ service.id }}">
          <div class="icon icon-svg mb-10"><img src="{{relative_url}}{{service.icon_image}}" alt=""></div>
          <span>{{ service.icon_title }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
    <!-- /.nav-tabs -->
    <div class="space30 d-none d-md-block"></div>
    <div class="tab-content">

      {% for service in page.services_area_1.services %}

      <div class="tab-pane {% if forloop.first %}show active{% endif %}" id="{{ service.id }}">
        <div class="box bg-white shadow">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="pr-15 pr-md-0 pr-sm-0 h-100">
                <figure><img src="#" srcset="{{relative_url}}{{ service.image }}" alt="" /></figure>
              </div>
            </div>
            <!--/column -->
            <div class="space30 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-6">
              <div class="pl-15 pl-md-0 pl-sm-0 h-100">
                <h2>{{ service.title }}</h2>
                <p>{{ service.content }}</p>
              </div>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/.box -->
      </div>
      {% endfor %}

    </div>

<!-- Call to Action -->
    {% include call_to_action.html %}

  </div>  
</div>







<div class="wrapper gray-dark-wrapper inverse-text">
  <div class="container inner">

    <h2 class="section-title larger text-center space-b-lg">{{page.services_area_2.title}}</h2>

    {% for service in page.services_area_2.services %}
    <div class="row align-items-center">
      <div class="col-lg-6 {% if forloop.index == 2  %} order-lg-2 {% endif %}">
        <figure class="img-blob blob1">
          <img src="{{service.image}}" alt="{{service.title}}" />
        </figure>
      </div>
      <!--/column -->
      <!-- <div class="space40 d-lg-none"></div> -->
      <div class="col-lg-6 pl-60 pl-md-15 space-b-lg">
        <h3 class="display-3">{{service.title}}</h3>
        <!-- <div class="space20"></div> -->
        <p>{{service.content}} </p>
        <!-- <div class="space10"></div> -->
        {% if page.two_columns_area_one.btn_url %}
        <a href="{{page.services_area_2.btn_url}}" class="btn btn-purple">{{page.services_area_2.btn_text}}</a>
        {% endif %}
      </div>
      <!--/column -->
    </div>
    <!-- <div class="space80"></div> -->
    {% endfor %}


  </div>
</div>




