---
layout: general_page

tab_title: Services

hero_area:
  enable: true
  title: "Financial Modeling"
  sub_titles:
    - sub_title: 'I help you evaluate the financial impact of your operations and strategies, forecast expected outcomes, and
    make informed decisions about investments, budgeting, and project viability. <br><br> I ensure that both profitability
    and sustainability are considered, so your projects are not only economically successful but also environmentally
    responsible.'
  image: 



services_area_1:
  enable: true
  title: 
  image: "/assets/images/01-Home/financial-modeling.jpg"
  services:
    - icon_title: "Finance Modeling"
      icon_image: "/assets/images/icons/financial.png"
      title: "Financial Statement and Budget Modeling"
      id: "tab3-1"
      icon: "icofont-chart-line-alt"
      image: "/assets/images/01-Home/financial-modeling.jpg"
      image_to_right: false
      content: |
        I create simple financial models that integrate your operational and financial data to build financial statements (income
        statement, balance sheet, and cash flow statement) and budgets. These models help forecast revenues, costs, and cash
        flows, providing you with a clear financial roadmap for your agricultural projects and guiding your strategic planning.

    - icon_title: "Cost-benefit Analysis"
      icon_image: "/assets/images/icons/cost.png"
      title: "Cost-benefit Analysis"
      id: "tab3-2"
      icon: "icofont-chart-line-alt"
      image: "/assets/images/01-Home/financial-modeling.jpg"
      image_to_right: false
      content: |
        I perform cost-benefit analyses to evaluate the financial viability and sustainability of your agricultural projects,
        helping you determine whether a project is worth pursuing before implementation. These analyses consider both economic
        factors –such as costs, returns, and ROI– and the environmental impacts of your projects. By integrating financial and
        environmental factors, I help you make investment decisions that consider profitability and responsible agricultural
        practices.

    - icon_title: "Discounted Cash Flow"
      icon_image: "/assets/images/icons/cash-flow.png"
      title: "Discounted Cash Flow (DCF) Modeling"
      id: "tab3-3"
      icon: "icofont-chart-line-alt"
      image: "/assets/images/01-Home/financial-modeling.jpg"
      image_to_right: true
      content: |
        I calculate the present value of future cash flows using DCF models to evaluate the long-term profitability and
        financial sustainability of your agricultural investments. Additionally, I simulate various scenarios—such as price
        changes, yield fluctuations, and market conditions—to assess how different factors can impact financial outcomes,
        helping you prepare for uncertainties and make more informed decisions.

call_to_action:
  enable: true
  text: "Ready to turn your data into impactful results?"
  button_text: "Let’s talk now!"
  background: 
---

<!-- Service General Description -->
<div class="wrapper gray10-wrapper inverse-text">
  <div class="container inner">
    {% if page.hero_area.enable %}
    <div class="row">
      <div class="col-md-10 mx-auto">
        <h2 class="section-title larger text-center">{{page.hero_area.title}}</h2>
        <div class="space20"></div>
        {% for subtitle in page.hero_area.sub_titles %}
        <h5 class="display-4 text-center"> {{subtitle.sub_title}} </h5>
        <div class="space20"></div>
        {% endfor %}
      </div>
    </div>
    <!-- <div class="space10"></div> -->
    {% if page.hero_area.image %}
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <figure>
          <img src="{{page.hero_area.image}}" alt="{{page.hero_area.sub_title}}" />
        </figure>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    {% endif %}
    <!-- <div class="space10"></div> -->
    {% endif %}
  </div>
  <div class="divider"><svg xmlns="http://www.w3.org/2000/svg" class="fill-white" preserveAspectRatio="none"
      viewBox="0 0 1070 52">
      <path d="M0,44.84s210-75,504-31,566,15,566,15v24H0Z" />
    </svg></div>
</div>


<div class="wrapper white-wrapper">
  <div class="container inner">
    <h2 class="section-title mb-40 text-center">{{page.services_area_1.title}}</h2>
    <ul class="nav nav-tabs nav-tabs-centered nav-tabs-bg d-flex justify-content-between nav-justified text-center">
      {% for service in page.services_area_1.services %}
      <li class="nav-item">
        <a class="nav-link  {% if forloop.first %}active{% endif %}" data-toggle="tab" href="#{{ service.id }}">
          <div class="icon icon-svg mb-10"><img src="{{relative_url}}{{service.icon_image}}" alt=""></div>
          <span>{{ service.icon_title }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
    <!-- /.nav-tabs -->
    <div class="space30 d-none d-md-block"></div>
    <div class="tab-content">

      {% for service in page.services_area_1.services %}

      <div class="tab-pane {% if forloop.first %}show active{% endif %}" id="{{ service.id }}">
        <div class="box bg-white shadow">
          <div class="row align-items-center">
            <div class="col-lg-6 {% if service.image_to_right %}order-lg-2{% else %}order-lg-1{% endif %} ">
              <div class="pr-15 pr-md-0 pr-sm-0 h-100">
                <figure><img src="#" srcset="{{relative_url}}{{ service.image }}" alt="" /></figure>
              </div>
            </div>
            <!--/column -->
            <div class="space30 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-6 {% if service.image_to_right %}order-lg-1{% else %}order-lg-2{% endif %}">
              <div class="pl-15 pl-md-0 pl-sm-0 h-100">
                <h2>{{ service.title }}</h2>
                <p>{{ service.content }}</p>
              </div>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/.box -->
      </div>
      {% endfor %}

    </div>
    <!-- /.tab-content -->

    <!-- Call to Action -->
    <div class="space100 d-none d-md-block"></div>
    {% include call_to_action.html %}

    
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->



