---
layout: general_page

tab_title: Services

hero_area:
  enable: true
  title: "Process and Mass Balance Analysis"
  sub_titles:
    - sub_title: 'We conduct process and mass balance analyses to understand agricultural processes and the movement and use
    of resources within them. This helps optimize operations, improve efficiency, support scaling efforts, and enhance
    sustainability by reducing resource waste and environmental impact.'
  image: 


services_area_1:
  enable: true
  title: 
  image: "/assets/images/01-Home/process-analysis.jpg"
  services:
    - icon_title: "Process Analysis"
      icon_image: "/assets/images/icons/flow-chart.png"
      title: "Process Analysis and Modeling"
      id: "tab1-1"
      icon: "icofont-chart-line-alt"
      image: "/assets/images/01-Home/process-analysis.jpg"
      content: |
        We map out the flow of materials in your system using a process flow diagram. This helps define system boundaries,
        identify inputs and outputs, and highlight key areas for improvement. We also simulate your processes under various
        conditions, offering ideas for process design, optimization, and testing through sensitivity and hypothesis analysis.

    - icon_title: "Mass Balance Analysis"
      icon_image: "/assets/images/icons/road-map.png"
      title: "Mass Balance and Resource Efficiency Studies"
      id: "tab1-2"
      icon: "icofont-chart-line-alt"
      image: "/assets/images/01-Home/process-analysis.jpg"
      content: |
        We track and quantify material flow through your processes, ensuring all inputs are accounted for and identifying areas
        where resources—such as water, energy, and raw materials—are being wasted. This helps assess environmental impacts,
        minimize waste, improve resource efficiency, and reduce costs.

    - icon_title: "Techno-Economic Analysis"
      icon_image: "/assets/images/icons/continuous.png"
      title: "Techno-Economic Analysis and Scale-up Planning"
      id: "tab1-3"
      icon: "icofont-chart-line-alt"
      image: "/assets/images/01-Home/data-analysis.jpg"
      content: |
        We combine technical and economic evaluations to estimate both capital (CAPEX) and operational (OPEX) expenses. Our mass
        balance analysis is crucial for businesses looking to scale. They provide data on resource requirements and waste
        outputs at larger production levels, helping with planning and investment decisions.

call_of_action:
  enable: true
  text: "Convinced yet? Let's make something great together."
  button_text: "Contact Us"
  background: "/assets/images/art/bg5.jpg"
---

<!-- Service General Description -->
<div class="wrapper dark-wrapper inverse-text">
  <div class="container inner">
    {% if page.hero_area.enable %}
    <div class="row">
      <div class="col-md-10 mx-auto">
        <h2 class="section-title larger text-center">{{page.hero_area.title}}</h2>
        <div class="space20"></div>
        {% for subtitle in page.hero_area.sub_titles %}
        <h5 class="display-4 text-center"> {{subtitle.sub_title}} </h5>
        <div class="space20"></div>
        {% endfor %}
      </div>
    </div>
    <!-- <div class="space10"></div> -->
    {% if page.hero_area.image %}
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <figure>
          <img src="{{page.hero_area.image}}" alt="{{page.hero_area.sub_title}}" />
        </figure>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    {% endif %}
    <!-- <div class="space10"></div> -->
    {% endif %}
  </div>
  <div class="divider"><svg xmlns="http://www.w3.org/2000/svg" class="fill-white" preserveAspectRatio="none"
      viewBox="0 0 1070 52">
      <path d="M0,11.23s114,42,335,22,272-44,416-28,319,37,319,37v11H0Z" />
    </svg></div>
</div>



<div class="wrapper white-wrapper">
  <div class="container inner">
    <h2 class="section-title mb-40 text-center">{{page.services_area_1.title}}</h2>
    <ul class="nav nav-tabs nav-tabs-centered nav-tabs-bg d-flex justify-content-between nav-justified text-center">
      {% for service in page.services_area_1.services %}
      <li class="nav-item">
        <a class="nav-link  {% if forloop.first %}active{% endif %}" data-toggle="tab" href="#{{ service.id }}">
          <div class="icon icon-svg mb-10"><img src="{{relative_url}}{{service.icon_image}}" alt=""></div>
          <span>{{ service.icon_title }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
    <!-- /.nav-tabs -->
    <div class="space30 d-none d-md-block"></div>
    <div class="tab-content">

      {% for service in page.services_area_1.services %}

      <div class="tab-pane {% if forloop.first %}show active{% endif %}" id="{{ service.id }}">
        <div class="box bg-white shadow">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="pr-15 pr-md-0 pr-sm-0 h-100">
                <figure><img src="#" srcset="{{relative_url}}{{ service.image }}" alt="" /></figure>
              </div>
            </div>
            <!--/column -->
            <div class="space30 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-6">
              <div class="pl-15 pl-md-0 pl-sm-0 h-100">
                <h2>{{ service.title }}</h2>
                <p>{{ service.content }}</p>
              </div>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/.box -->
      </div>
      {% endfor %}

    </div>
    <!-- /.tab-content -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->


<!-- Call to Action -->
{% include call_of_action.html %}


