---
layout: general_page
tab_title: About

custom_css: 
custom_font: 

black_menu: true
header_style: 'one'
subheader: false


vision:
  enable: true
  title: "Our Vision"
  image: "/assets/images/04-About/vision.jpg"
  description: "We envision a world where innovation, technology and sustainable principles drive the creation of a
  regenerative food system that feeds us, preserves biodiversity, restore ecosystems, and contributes to the development
  of the economy."
  footer: "Oriol Verdeny Vilalta"

mission:
  enable: true
  title: "What we do?"
  description:
    - paragraph: "We are a consulting and implementation services company focused on data-driven agriculture. Our mission is to
    support development organizations, research institutions, and agribusinesses make informed decisions and
    achieve their goals to improve agriculture, sustainability, and financial performance."
    - paragraph: "We offer a range of services, including data analysis, process and mass balance assessments, and financial
    modeling. These services help our clients use data to enhance project outcomes and make a positive impact on
    society and the environment."
  work:
    title: "We work with"
    clients: "Research organisations.:Development agencies.:Agribusinesses."

values:
  enable: true
  title: "Our Values"
  image: "/assets/images/04-About/values.jpg"
  list:
    - title: "Care for yourself and others"
      description: "Build and nurture healthy relationships that support mutual growth and understanding."
      color: "green"
      number: 1
    - title: "Stay positive; we’re in this together"
      description: "We face challenges as a team and find solutions collaboratively."
      color: "green"
      number: 2
    - title: "Value the journey, not just the destination"
      description: "We prioritize not only the final result but also the quality of our process and interactions along the way."
      color: "green"
      number: 3
    - title: "Practice patience and reflection time"
      description: "Dedicate time to build-up value and create meaningful, long-term impact."
      color: "green"
      number: 4
    - title: "Be curious and embrace the unknown"
      description: Stay open, explore freely, and enjoy the creative process, even in unpredictable situations."
      color: "green"
      number: 5
    - title: "Keep things simple"
      description: "Simplifying helps us communicate clearly, understand one another, and execute more effectively."
      color: "green"
      number: 6
    - title: "Prioritize what matters most"
      description: "We focus on delivering high-value outcomes aligned with your goals, staying motivated by meaningful work."
      color: "green"
      number: 7


testimonials:
  enable: false
  image: "/assets/images/art/about9.png"
  projects_number: 500
  project_tag: "Happy Customers"
  feedback:

    - quote: |
        Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat.
      image: "/assets/images/art/t5.jpg" 
      name: "Cornelia Gibson"
      designation: "Financial Analyst"
  
    - quote: |
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus.
      image: "/assets/images/art/t2.jpg" 
      name: "Coriss Ambady"
      designation: "Marketing Specialist"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t3.jpg" 
      name: "Barclay Widerski"
      designation: "Sales Manager"

clients_carousel_area:
  enable: false

---

{% if page.values.enable %}
<div class="wrapper image-wrapper bg-image inverse-text"
  data-image-src="{{relative_url}}/assets/images/04-About/vision.jpg">
  <div class="container inner">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <h2 class="section-title mb-40 text-center">{{ page.vision.title }}</h2>
        <div class="box bg-white shadow">
          <blockquote class="icon">
            <p>{{ page.vision.description }}</p>
            <!-- <footer class="blockquote-footer">{{ page.vision.footer }}</footer> -->
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}



<!-- Mission -->
{% if page.mission.enable %}
<div class="wrapper dark-wrapper inverse-text">
  <div class="container inner">

    <h2 class="section-title mb-40 text-center"> {{ page.mission.title}} </h2>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        {% for desctiption in page.mission.description %}

        <p> {{ desctiption.paragraph }}</p>

        {% endfor %}

      </div>
      <!-- /column -->
    </div>

    <div class="space50"></div>

    <div class="row">
      <div class="col-lg-10 offset-lg-2">
        <h2 class="display-3">
          {{ page.mission.work.title}}
          <span class="typer color-default" data-delay="100" data-delim=":"
            data-words="Research organisations.:Development agencies.:Agribusinesses."></span>
          <span class="cursor color-default" data-owner="typer"></span>
        </h2>

      </div>
    </div>
  </div>
</div>
{% endif %}


<!-- Values -->
{% if page.values.enable %}
<div class="wrapper white-wrapper">
  <div class="container inner">
    <h2 class="section-title mb-40 text-center">{{ page.values.title }}</h2>
    <div class="row gutter-50">
      {% for value in page.values.list %}
      <div class="col-md-6 col-lg-4">
        <div class="d-flex flex-row justify-content-center">
          <div>
            <!-- <div class="icon icon-bg icon-bg-{{ value.color }} color-{{ value.color }} mr-25"> -->
            <div class="icon icon-bg mr-25"
              style="background-color: var(--color-text_yovori); color: var(--color-default);">
              <span class="number" style="font-weight: bold;">{{ value.number }}</span>
            </div>
          </div>
          <div>
            <h5>{{ value.title }}</h5>
            <p>{{ value.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.wrapper -->
{% endif %}



