---
layout: general_page
tab_title: About
permalink: 

vision:
  enable: true
  title: "Why I am doing it"
  image: "/assets/images/04-About/vision.jpg"
  description: "I envision a world where innovation, technology, and sustainable principles drive the transition towards
  the creation of a regenerative food system that feeds us, preserves biodiversity, restore ecosystems, and contributes to
  the development of the economy."
  footer: "Oriol Verdeny Vilalta"


howidoit:
  enable: true
  title: "How I do it"
  description: "I believe data is a powerful tool for achieving this vision. By using data to guide decisions, we can
  improve outcomes, optimize processes, and create a positive lasting impact. My approach focuses on making complex data
  clear, useful, and aligned with your goals."


mission:
  enable: true
  title: "What I do"
  description:
    - paragraph: "I provide data-driven services to support organizations make informed decisions and achieve their goals to
    improve agriculture, sustainability, and financial performance."
    - paragraph: "These services help you get the most from your data, improve your project results, and make a positive
    impact on people and the environment."
  work:
    title: "I work with"
    clients: "Research organisations.:Development agencies.:Agribusinesses."



values:
  enable: true
  title: "My Values"
  image: "/assets/images/04-About/values.jpg"
  list:
    - title: "Care for yourself and others"
      description: "Build and nurture healthy relationships that support mutual growth and understanding. Balance and
      well-being are non-negotiable. I do not want to end up running around like a headless chicken."
      color: "green"
      number: 1
    - title: "Stay positive; we’re in this together"
      description: "I face challenges as a team and find solutions collaboratively. If a partnership isn’t the right fit, that is okay too."
      color: "green"
      number: 2
    - title: "Value the journey, not just the destination"
      description: "I focus on the process, how we treat each other, and enjoying the work —not just the final results."
      color: "green"
      number: 3
    - title: "Practice patience and reflection time"
      description: "I dedicate time to build-up value and create meaningful, long-term impact for you. Good things come from thoughtful, steady effort, and may take some time."
      color: "green"
      number: 4
    - title: "Be curious and embrace the unknown"
      description: "Stay open, explore freely, and enjoy the creative process -even in unpredictable situations or outside our comfort zone."
      color: "green"
      number: 5
    - title: "Keep things simple"
      description: "Simplicity helps us communicate clearly, understand one another, and work more effectively. Clear minds, happy outcomes."
      color: "green"
      number: 6
    - title: "Prioritize what matters most"
      description: "I focus on delivering high-value outcomes aligned with your goals, staying motivated by meaningful work that brings purpose."
      color: "green"
      number: 7


whoami:
  enable: true
  title: "Who am I"
  description:
    - paragraph: "I am a <b>biologist and data scientist</b> with over <b>15 years of experience</b> in life science and agricultural
    projects in both public and private sectors. My mission is to help organizations make <b>data-driven decisions</b> that improve
    project outcomes, optimize processes and finances, and drive sustainable impact."
    - paragraph: "Data analysis is an ongoing journey, not a one-time task. My approach focuses on <b>transparency,
    collaboration, continuous improvement, and a positive mindset</b> to build trust, strong partnerships, and get the most
    value from your data."
  image:
    - "/assets/images/04-About/whoami-03.jpg"
    



testimonials:
  enable: false
  image: "/assets/images/art/about9.png"
  projects_number: 500
  project_tag: "Happy Customers"
  feedback:

    - quote: |
        Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat.
      image: "/assets/images/art/t5.jpg" 
      name: "Cornelia Gibson"
      designation: "Financial Analyst"
  
    - quote: |
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus.
      image: "/assets/images/art/t2.jpg" 
      name: "Coriss Ambady"
      designation: "Marketing Specialist"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t3.jpg" 
      name: "Barclay Widerski"
      designation: "Sales Manager"

clients_carousel_area:
  enable: false


faq_area:
  enable: true
  title: "FAQ" 
  sub_title: |
    If you don't see an answer to your question, <br class="d-none d-lg-block">you can send me an email from the  <a class="font-weight-bold" href="/contact/contact">contact form</a>
  faq:
  - question: "How much will it cost me?"
    answer: "Pricing depends on the scope and complexity of your project. After our initial consultation, I'll provide a clear, customized quote based on your needs. I aim to offer flexible solutions that match your budget and goals."
  - question: "Are there any discounts available?"
    answer: "Yes, I offer discounts for long-term projects or repeat clients. Reach out to discuss your project, and I’ll see how I can accommodate your needs."
  - question: "Is my data confidential?"
    answer: "Absolutely. I take data confidentiality very seriously. Your data will never be shared or used for purposes beyond your project."
  - question: "What if I am not satisfied with the final result?"
    answer: "I pursue quality and client satisfaction. If you’re not satisfied, I’ll work with you to address your concerns and make necessary adjustments. My goal is to deliver results that meet your expectations."
  - question: "How long will my project take?"
    answer: "Timelines vary depending on the project’s complexity and data availability. After the initial consultation, I’ll provide an estimate timeline and keep you updated throughout the process."
  - question: "What types of organizations do you work with?"
    answer: "I primarily work with development organizations, research institutions, and agribusinesses, but I'm always open to expand to other types of organizations. If you’re unsure if I'm the right fit, feel free to reach out for a free consultation."
  - question: "Can you work with data we have already collected?"
    answer: "Yes! I can analyze your existing data or help you collect new data if needed. I’ll work with whatever stage your data is in."
  - question: "What industries do you specialize in?"
    answer: "I specialize in life sciences and agriculture, including projects related to sustainability, value chain development, and agribusiness operations, among others."

---



<!-- Vision (why) -->
{% if page.vision.enable %}
<div class="wrapper image-wrapper bg-image inverse-text"
  data-image-src="{{relative_url}}/assets/images/04-About/vision.jpg">
  <div class="container inner">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
        <h2 class="display-3 title-color mb-40 text-center">{{ page.vision.title }}</h2>

        <div class="box bg-white shadow">
          <blockquote class="icon about">
            <p>{{ page.vision.description }}</p>
            <!-- <footer class="blockquote-footer">{{ page.vision.footer }}</footer> -->
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}




<!-- How I do it -->
{% if page.howidoit.enable %}
<div class="wrapper white-wrapper">
  <div class="container inner">
    <h2 class="display-3 title-color mb-40 text-center">{{ page.howidoit.title }}</h2>
    <div class="row">
      <div class="col-lg-8 offset-lg-0 space-t-5">
        <p class="about"> {{ page.howidoit.description }}</p>
      </div>
      <!-- /column -->
    </div>
  </div>
</div>
{% endif %}




<!-- Mission (what) -->
{% if page.mission.enable %}
<div class="wrapper dark-wrapper inverse-text">
  <div class="container inner">

    <h2 class="display-3 title-color mb-40 text-center">{{ page.mission.title }}</h2>
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        {% for desctiption in page.mission.description %}
        <p class="about"> {{ desctiption.paragraph }}</p>
        {% endfor %}
      </div>
      <!-- /column -->
    </div>

    <div class="row">
      <div class="col-lg-10 offset-lg-2">
        <h2 class="display-3 space-t-5">
          {{ page.mission.work.title}}
          <span class="typer color-default" data-delay="100" data-delim=":"
            data-words="Research organizations.:Development organizations.:Agribusinesses."></span>
          <span class="cursor color-default" data-owner="typer"></span>
        </h2>

      </div>
    </div>
  </div>
</div>
{% endif %}



<!-- Values -->
{% if page.values.enable %}
<div class="wrapper white-wrapper">
  <div class="container inner">
    <h2 class="display-3 title-color mb-40 text-center">{{ page.values.title }}</h2>
    <div class="row">

      {% for value in page.values.list %}
      <div class="col-12">
        <div class="value-item d-flex flex-row justify-content-start align-items-center border-bottom">

          <div class="icon-container mr-25">
            <div class="icon icon-value icon-bg">
              <span class="number">{{ value.number }}</span>
            </div>
          </div>

          <div class="text-container">
            <h5 class="value-title font-weight-bold mb-1">{{ value.title }}</h5>
            <p class="mb-0">{{ value.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}






<!-- Who am I -->
{% if page.whoami.enable %}
<div class="wrapper white-wrapper">
  <div class="container inner">
    <div class="row align-items-center">

      <div class="col-md-12 mx-auto">
        <h2 class="display-3 title-color mb-40 text-center">{{ page.whoami.title }}</h2>
      </div>

      <div class="col-12 col-lg-4 offset-0 order-1 d-flex justify-content-center mb-4 mb-lg-0">
        <img src="{{page.whoami.image}}" alt="Hero Image" class="img-fluid hero" />
      </div>

      <div class="col-12 col-lg-8 offset-0 order-2">
        {% for desctiption in page.whoami.description %}
        <p class="about"> {{ desctiption.paragraph }}</p>
        {% endfor %}
      </div>

    </div>
  </div>
</div>
{% endif %}




<!-- FAQ -->
{% if page.faq_area.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner pb-0">

      <h2 class="display-3 title-color mb-40 text-center">{{ page.faq_area.title }}</h2>

      <h3 class="display-4 text-center">{{page.faq_area.sub_title}}</h3>
      <div class="space40"></div>
      <div class="row">
          <div class="col-lg-6 mb-0">
              <div id="accordion-1" class="accordion-wrapper">
                  {% for faq in page.faq_area.faq limit: "4" %}
                  <div class="card">
                      <div class="card-header" id="accordion-heading-1-{{forloop.index}}">
                          <h5>
                              <button class="collapsed" data-toggle="collapse"
                                  data-target="#accordion-collapse-1-{{forloop.index}}" aria-expanded="false"
                                  aria-controls="accordion-collapse-1-{{forloop.index}}">
                                  {{faq.question}}
                              </button>
                          </h5>
                      </div>
                      <div id="accordion-collapse-1-{{forloop.index}}" class="collapse"
                          aria-labelledby="accordion-heading-1-{{forloop.index}}"
                          data-target="#accordion-{{forloop.index}}">
                          <div class="card-body">
                              <p>{{faq.answer}}</p>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
              </div>
          </div>
          <!--/column -->
          <div class="col-lg-6">
              <div id="accordion-2" class="accordion-wrapper">
                  {% for faq in page.faq_area.faq limit: "4" offset: "4" %}
                  <div class="card shadow">
                      <div class="card-header" id="accordion-heading-2-1">
                          <h5>
                              <button class="collapsed" data-toggle="collapse"
                                  data-target="#accordion-collapse-2-{{forloop.index}}" aria-expanded="false"
                                  aria-controls="accordion-collapse-2-{{forloop.index}}">
                                  {{faq.question}}
                              </button>
                          </h5>
                      </div>
                      <!-- /.card-header -->
                      <div id="accordion-collapse-2-{{forloop.index}}" class="collapse"
                          aria-labelledby="accordion-heading-2-{{forloop.index}}"
                          data-target="#accordion-{{forloop.index}}">
                          <div class="card-body">
                              <p>{{faq.answer}}</p>
                          </div>
                          <!-- /.card-body -->
                      </div>
                      <!-- /.collapse -->
                  </div>
                  {% endfor %}
              </div>
              <!-- /.accordion-wrapper -->
          </div>
          <!--/column -->
      </div>
      <!--/.row -->

      <div class="space120"></div>

  </div>
</div>
{% endif %}
