---
layout: default
---

<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog grid grid-view">
          <div class="row isotope d-flex flex-wrap">

           {% if paginator %}

           {% for post in paginator.posts %}
            <div class="item post grid-sizer col-md-6">
             {% include post_loop.html %}
            </div>
            <!-- /.post -->
           {% endfor %}

           {% else %}
            <p>No paginator found. Check your _config.yml and pagination settings.</p>
           {% endif %}

          </div>
          <!-- /.row -->
        </div>
        <!-- /.blog -->
        {% include pagination.html %}

      </div>
      <!--/column -->
      <div class="space30 d-none d-md-block d-lg-none"></div>
      <aside class="col-lg-4 sidebar">
       {% include sidebar_yovori.html %}
      </aside>
      <!-- /column .sidebar -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</div>

