<!DOCTYPE html>
<html lang="en">
  
<head>
  {% include head.html %}

  <!-- GA is not activated -->
  {% include google_analytics.html %}

  <!-- Using umami analytics, which does not use cookies -->
  <script defer src="https://cloud.umami.is/script.js" data-website-id="40a4d736-2f2e-4184-ba50-fc7edfaf67b2"></script>

</head>

<body {% if page.overflow %} class="overflow-hidden" {% endif %}>
  <!-- <div class="content-wrapper"> -->
    {% include header.html %}
    {{ content }}
    {% include footer.html light_logo="true" %}
  <!-- </div> -->

  {% include scripts.html %}
  {% include cookies.html %}

</body>

</html>